/* CommentToast.scss */
.comment-toast {
    background-color: #f0f0f0; /* Customize the background color */
    // border: 1px solid #ccc;
    margin-bottom: 10px; /* Add margin between comment toasts */
  }
  
  .comment-body {
    color: #333; 
    padding: 8px; 
  }

  .btn-close {
    display:none;
  }

.comment-toast {
    border-radius: 10px; 
    background-color: #C0E6DE; 
    color: white; 
    padding: 8px; 
  }
  
  .comment-toast .toast-header {
    background-color: transparent; /* Transparent background for header */
  }
  
  .comment-toast .me-auto {
    margin-right: 8px; /* Add margin between username and comment text */
  }
  